*.pyc
*.db
*.pid
.project
*.log
setting.py
.pydevproject
/.settings/
/.idea/
/env/
celerybeat-schedule
*~
.DS_Store
*.bz2
*.gz
*.zip
bower_components/
.sass-cache
node_modules/
vendor/
.db
*.iml